// ------ COLORS ----- //
$white-color: #fff;
$blue-color: rgb(6, 7, 48);
$red-color: rgba(150, 0, 0, 0.8);
$red-color-darker: rgba(150, 0, 0, 1);
$gray-color: #222021;

// ------ FONTS ----- //
$smaller-font: 1.4rem;
$normal-font: 1.6rem;
$bigger-font: 2.4rem;
$big-font: 3rem;

// ----- OTHERS ----- //
$skill-height: 93%;
